.post-list {
    margin-top: 10px;
}

.post-preview {
    margin-bottom: 20px;

    h2 {
        margin-bottom: 10px;
    }

    time {
        display: block;
        margin-bottom: 2px;
    }
}

.post-subtitle {
    font-size: 1.2em;
    font-style: italic;
}

.post-content {
    margin-top: 30px;

    p {
        text-indent: 2em;
    }
}
