// Main CSS

@use 'variables' as *;
@use 'reset' as *;
@use 'bio' as *;
@use 'footer' as *;
@use 'header' as *;
@use 'pills' as *;
@use 'projects' as *;
@use 'blog' as *;
@use 'utilities' as *;

body {
	background-color: $primary;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 30px 20px !important;
}

p {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

h2 {
	margin: 10px 0 5px;
}

a {
	color: inherit;
}

img {
	width: 100%;
	height: auto;
}
