<header>
	<div class="container">
		<a href="/" class="title" title="return to home page">{{ .Site.Title }}</a>
		<button class="menu-btn">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>menu</title><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
		</button>
		<nav>
			<ul>
				{{ $current := . }}
				{{ range .Site.Menus.main }}
					<li {{ if ($current.IsMenuCurrent "main" .) }}class="active"{{ end }}>
						<a href="{{ .URL }}">{{ .Name }}</a>
					</li>
				{{ end }}
			</ul>
		</nav>
	</div>
</header>